.underlined {
    text-decoration: underline;
    color: rgb(168, 92, 230);
}
body {
    background-color: rgb(58, 58, 58);
}
.jumbotron {
    height: 250px;
    background-image: url(../images/crystal-cards.jpg);
    background-blend-mode: soft-light;
    background-blend-mode: darken;
}
.backdrops1, .backdrops2, .backdrops3 {
    background-color: rgb(21, 88, 187);
    width: 420px;
    margin: 0 auto;
    border-radius: 50px;
}
.backdrops1 {
    width: 450px;
}
.backdrops2 {
    width: 600px;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
}
h3 {
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    color: rgb(61, 61, 61);
    text-shadow:
    -2px -2px 0 aquamarine,
    1px -1px 0 aquamarine,
    -1px 1px 0 aquamarine,
    2px 2px 0 aquamarine;
}
h4 {
    font-family: 'Permanent Marker', cursive;
    color:whitesmoke;
}
h6 {
    padding: 5px;
    color:grey;
}
img {
    margin: 0 auto 0 auto;
    /* padding: 0; */
    
    border-radius: 15px;
    height: 150px;
    width: 150px;
}
.card {
    border-radius: 35px;
    background-image: url(../images/gembg2.jpg);
    background-size: 100%;
}
.img-align1 {
    padding-left: 10px;
    padding-right: 0px;
}
.img-align2 {
    padding-left: 0px;
    padding-right: 15px;
}

.gems {
    /* position: absolute; */
    z-index: 99;
}
.buttons {
    background-color: blue;
    opacity: .02;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    /* opacity: .1; */
}
.lucky {
    position: relative; 
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: aquamarine
}
.spacing {
    margin: 0 auto;
}
